table, td, th{
  border: 3px solid #f3901b;
  
}

table {
  width: 500px;
  table-layout: fixed;
  border-collapse: collapse;
  margin: auto;
  margin-top: 25px;
}

td, th {
  height: 50px;
  vertical-align: middle;
  text-align: center;
}

th{
  background-color: #f3901b;
  color: #fff;
  font-size: 25px;
}

.people {
  text-align: center;
}
