table, td, th{
  border: 3px solid #f3901b;
  
}

table {
  width: auto;
  table-layout: fixed;
  border-collapse: collapse;
  margin: auto;
  margin-top: 25px;
}

td, th {
  height: 50px;
  vertical-align: middle;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

th{
  background-color: #f3901b;
  color: #fff;
  font-size: 25px;
}

input {
  margin-left: 12px;
}

.inputText {
  display: inline;
  height: 30px;
  width: 500px;
  margin: auto;
  
}

.people {
  text-align: center;
}
